*{
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
    background: url("ressources/bkgr_numbers.jpg") ;
    
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}
header, footer,section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    
    background: #ededed;
 
    margin: auto auto;
    box-shadow: 0px 0px 10px #bbb;

}

header,footer {

    margin: 1em auto;
    font-size:3em;
}
.min_random, .max_random {
    width: 10%
}
.numberGenerationSubmit{
    font-size: 1em;
    background-color: #979797;
    border-radius: 5%;
    border: 1px solid rgb(0, 0, 0);
}
section {

    margin: 0.7em auto;
    font-size:2em;
}


header h1{
    text-align: center;

}

.hist_proposal{
    display: block; 
    
}

footer{

    font-size: 0.4em;
    justify-content: start;
}